stock_prices/IBM_2024.xlsx
stock_prices/IBM_2024.CSV
stock_prices/api_keys.txt
coffee_survey/coffee_data.csv
beach_nourishment/beach_nourishment.xlsx
beach_nourishment/~$beach_nourishment.xlsx
__pycache__/alpha_vantage.cpython-311.pyc
