stock_prices/IBM_2024.xlsx
stock_prices/IBM_2024.CSV
stock_prices/api_keys.txt
coffee_survey/coffee_data.csv
beach_nourishment/beach_nourishment.xlsx
beach_nourishment/~$beach_nourishment.xlsx
__pycache__/alpha_vantage.cpython-311.pyc
Olympics_medalists/medalists_planned.odt
LinkedIn posts/Finding_datasets.odt
Olympics_medalists/medalists_planned.odt
Data Science Models/~$otes_1.odt
Data Science Models/Notes_1.odt
Data Science Models/~WRL3273.tmp
LinkedIn posts/~$nding_datasets.odt
LinkedIn posts/~WRL3194.tmp
Olympics_medalists/~$dalists_planned.odt
Olympics_medalists/medalists_planned.odt
Olympics_medalists/medalists_planned.odt
Olympics_medalists/~$dalists_planned.odt
Olympics_medalists/medalists_planned.odt
