stock_prices/IBM_2024.xlsx
stock_prices/IBM_2024.CSV
stock_prices/api_keys.txt
coffee_survey/coffee_data.csv
beach_nourishment/beach_nourishment.xlsx
beach_nourishment/~$beach_nourishment.xlsx
__pycache__/alpha_vantage.cpython-311.pyc
Olympics_medalists/medalists_planned.odt
LinkedIn posts/Finding_datasets.odt
Olympics_medalists/medalists_planned.odt
Data Science Models/~$otes_1.odt
Data Science Models/Notes_1.odt
Data Science Models/~WRL3273.tmp
LinkedIn posts/~$nding_datasets.odt
LinkedIn posts/~WRL3194.tmp
Olympics_medalists/~$dalists_planned.odt
Olympics_medalists/medalists_planned.odt
Olympics_medalists/medalists_planned.odt
Olympics_medalists/~$dalists_planned.odt
Olympics_medalists/medalists_planned.odt
Data Science Models/Telecom customers/~$edicting_churn.odt
Data Science Models/Telecom customers/~$lecoms_article.odt
Data Science Models/Telecom customers/~WRL2267.tmp
Data Science Models/Telecom customers/predicting_churn.odt
Data Science Models/Telecom customers/Telecoms_article.odt
Data Science Models/Telecom customers/Telecoms_article.pdf
LinkedIn posts/medalists_dashboard1.png
LinkedIn posts/medalists_dashboard2.png
LinkedIn posts/telecoms_dashboard.png
LinkedIn posts/telecoms_linkedin.odt
Telecom customers/~$edicting_churn.odt
Telecom customers/~$lecoms_article.odt
Telecom customers/~WRL2267.tmp
Telecom customers/predicting_churn.odt
Telecom customers/Telecoms_article.odt
Telecom customers/Telecoms_article.pdf
ad_click/ad_click.odt
